<%-include('partial/head')%>
<%-include('partial/navbar')%>

<div class="container pt-5">
    <div class="tiles-grid">
        <% if (!context.engines) { %>
            There are no engines enabled yet.
        <% } else { %>
            <% for(let engine of context.engines || []) { %>
                <div data-size="medium" data-role="tile" class="bg-<%=engine.colour%>" onclick="javascript:location.href='/course/list/<%=engine.engineId%>'">
                    <span class="branding-bar"><%=engine.name%></span>
                    <img src="<%=engine.picture%>" class="icon">
                    <span class="badge-top"><%=engine.courses%></span>
                </div>
            <% } %>
        <% } %>
    </div>
</div>